.navigation {
  color: beige;
  text-align: right;
}

body {
  color: #bbbcbd;
  background-color: #3e474a;
}

.image {
  background-image: url(images/mark-busch-e09Bzkk11KQ-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
}
.container {
  margin: 0 auto;
  max-width: calc(100% - 50px);
  width: fit-content;
}
.wrapper {
  background-image: url("images/bg.png");
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05),
    inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 8em 0 8em 0;
  text-align: left;
}

.wrapper.style1 {
  background-image: url(images/mark-busch-e09Bzkk11KQ-unsplash.jpg);
  background-size: auto;
}
/** button **/
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  text-align: center;
  font-size: 1.2em;
  width: 100%;
  padding: 1em 0 1em 0;
}

input[type="button"].large,
input[type="submit"].large,
input[type="reset"].large,
button.large,
.button.large {
  font-size: 1.2em;
  letter-spacing: 0;
}
